{% extends 'core/base.html' %}

{% block title %}
    Добавить клиента
{% endblock %}

{% block content %}
<div class="container py-4">
    <h1 class="h4 mb-4">Добавить клиента</h1>

    {% if team.plan.max_clients > team.clients.all|length %}
        <form method="post" action=".">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    {% else %}
        <div class="alert alert-danger" role="alert">
            Ваша команда достигла максимального количества клиентов! Создателю команды необходимо обновить ваш тарифный план!        </div>
    {% endif %}
</div>
{% endblock %}
