<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <!-- <link href="style.css" rel="stylesheet"> -->

    <title> {% block title %}{% endblock %}</title>
    <!-- <link href="/src/style.css" rel="stylesheet"> -->
</head>

<body class="flex flex-col h-screen justify-between">
    {% include 'core/partials/header.html' %}

    {% if messages %}
        <div class="py-6">
            {% for message in messages %}
                <div  class="py-2 px-2 bg-green-300 rounded-xl box-border"> {{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
    <main class="">
        {% block content %}
        {% endblock %}
    </main>
    
</body>

{% include 'core/partials/footer.html' %}

</html>