<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <!-- <link href="style.css" rel="stylesheet"> -->

    <title> {% block title %}{% endblock %}</title>
    <!-- <link href="/src/style.css" rel="stylesheet"> -->
</head>

<body class="flex flex-col h-screen justify-between">
    <header class="h-10">
        <nav class="py-4 bg-teal-500 flex text-white lg:gap-x-5 justify-center">
            <div class="flex lg:flex-1 m-auto">
                <a href="/" class="text-white px-6">Freelance CRM</a>
            </div>
            <div class="text-white m-auto flex lg:gap-x-5">
                <a href="{% url 'about' %}" class="text-sm/6 font-semibold">About</a>
                <a href="#" class="text-sm/6 font-semibold">Anything</a>
                <a href="#" class="text-sm/6 font-semibold">Company</a>
            </div>
            <div class="lg:flex lg:flex-1 lg:justify-end lg:gap-x-3 pr-5">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'dashboard:index' %}" class="text-sm/6 font-semibold bg-teal-600 py-2 px-3 rounded-xl">Dashboard </a>
                    <a href="{% url 'leads:list' %}" class="text-sm/6 font-semibold bg-teal-600 py-2 px-3 rounded-xl">Leads</a>
                    <a href="{% url 'clients:list' %}" class="text-sm/6 font-semibold bg-teal-600 py-2 px-3 rounded-xl">Clients</a>

                    {% csrf_token %}
                    <a href="{% url 'userprofile:myaccount' %}" class="text-sm/6 font-semibold bg-teal-800 py-2 px-3 rounded-xl">My account </a>
                    <form id="logout-form" method="post" action="{% url 'logout' %}" style="display: none;">
                        {% csrf_token %}
                    </form>
                    <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();" class="text-sm/6 font-semibold bg-red-600 py-2 px-3 rounded-xl">Log out </a>
                {% else %}
                    <a href="{% url 'login' %}" class="text-sm/6 font-semibold bg-teal-600 py-2 px-3 rounded-xl">Log in </a>
                    <a href="{% url 'userprofile:signup' %}" class="text-sm/6 font-semibold bg-teal-600 py-2 px-3 rounded-xl">Sign up </a>
                {% endif %}
            </div>
        </nav>
    </header>
    {% if messages %}
        <div class="py-6">
            {% for message in messages %}
                <div  class="py-2 px-2 bg-green-300 rounded-xl box-border"> {{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
    <main class="">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="h-10 py-8 text-center bg-teal-500">
        <p class="text-white text-sm/2">Copyright (c) 2025 - Freelance CRM</p>
    </footer>
</body>

</html>