{% extends 'core/base.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
<div class="container ">
    <h1 class="mb-4">Дашборд</h1>
    <div class="row g-4">
        <div class="col-md-6">
            <div class="card h-100 shadow-sm">
                <div class="card-header bg-info text-white  d-flex justify-content-between">
                    <h2 class="h5 mb-0">Лиды</h2>
                    <a href="{% url 'leads:add' %}" class="btn btn-teal btn-sm text-white rounded-pill px-3">+ Добавить лида</a>
                </div>
                <div class="card-body">
                    {% if leads %}
                        {% for lead in leads %}
                            <div class="mb-3 p-3 border rounded bg-light">
                                <div class="d-flex justify-content-between align-items-center mb-1">
                                    <h5 class="mb-0">{{ lead.name }}</h5>
                                    <a href="{% url 'leads:detail' lead.id %}" class="btn btn-sm btn-outline-primary">Детали</a>
                                </div>
                                <p class="mb-1"><small>Статус: {{ lead.get_status_display }}</small></p>
                                <p class="mb-0"><small>Приоритет: {{ lead.get_priority_display }}</small></p>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p class="text-muted">Нет новых лидов.</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card h-100 shadow-sm">
                <div class="card-header bg-success text-white d-flex justify-content-between">
                    <h2 class="h5 mb-0">Клиенты</h2>
                    <a href="{% url 'leads:add' %}" class="btn btn-teal btn-sm text-white rounded-pill px-3">+ Добавить клиента</a>
                </div>
                <div class="card-body">
                    {% if clients %}
                        {% for client in clients %}
                            <div class="d-flex justify-content-between align-items-center mb-3 p-3 border rounded bg-light">
                                <h5 class="mb-0">{{ client.name }}</h5>
                                <a href="{% url 'clients:detail' client.id %}" class="btn btn-sm btn-outline-success">Детали</a>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p class="text-muted">Нет новых клиентов.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
